In [6]:
# (1) 데이터로드
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings(action='ignore')

# 여러개 쳐도 나오게
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 파일읽기
gcc6_0_32 = pd.read_csv("binutils_gcc3~9_exec_op0~4_csv/"+'gcc6'+"_0_32exec.csv", index_col=0)
gcc6_0_32.shape

(13936744, 2)

In [8]:
gcc6_0_32.head()

  hex  bin
1  53    1
2  83    0
3  ec    0
4  08    0
5  e8    0

In [9]:
gcc6_0_32['bin'].value_counts()

0    13892354
1       44390
Name: bin, dtype: int64

In [10]:
# (5-1)  - 함수의 시작 기준 뒤 3gram

# 데이터 index 뽑아내기
idx6 = gcc6_0_32[gcc6_0_32['bin']==1].index
ls6 = list(idx6);
print(len(ls6))

# 최종 뽑을 행에 대한 index
ls_idx6 = []


left_idx, right_idx = 0, 4 # 뒤 4개씩

# 전체 index에 -10더한 index들 -9 더한 인덱스들, ~~~ 10더한 index들 다 합침.(extend)
for k in range(left_idx, right_idx):
    ls_idx6.extend(list(idx6 + k)) # index 형이라서 가능

print(len(ls_idx6))

# 정렬
ls_idx6.sort(); 

print('\n최종')
print(len(ls_idx6))

# 5 gram 변수
gcc6_0_32_3gram = gcc6_0_32.loc[ls_idx6,:].copy()

44390
177560

최종
177560

In [11]:
x6 = gcc6_0_32_3gram['hex'].values
df6 = x6.reshape((-1,right_idx))
k6 = pd.DataFrame(df6);
print(k6.shape)

(44390, 4)

In [14]:
# 체크
label_value6 = gcc6_0_32_3gram['bin'].values
label_value6 = label_value6.reshape((-1,right_idx))

df_label_value6 = pd.DataFrame(label_value6)
df_label_value6

         0    1    2    3
0      1.0  0.0  0.0  0.0
1      1.0  0.0  0.0  0.0
2      1.0  0.0  0.0  0.0
3      1.0  0.0  0.0  0.0
4      1.0  0.0  0.0  0.0
...    ...  ...  ...  ...
44385  1.0  0.0  0.0  0.0
44386  1.0  0.0  0.0  0.0
44387  1.0  0.0  0.0  0.0
44388  1.0  0.0  0.0  0.0
44389  1.0  0.0  0.0  0.0

[44390 rows x 4 columns]

In [16]:
df_label_value6[0].value_counts()

1.0    44388
0.0        2
Name: 0, dtype: int64

In [12]:

# k6
print('### gcc6 ###')
for i in range(0, right_idx):
    k6[i].value_counts()
    
## => 결론 바이트는 비슷함. 실행파일 -o 파일 비슷햇음.

### gcc6 ###

55    24167
8b     5571
8d     5523
83     4216
ff     2018
c7     1186
b8      639
90      403
e8      187
0f      185
53      145
81       72
31       20
f3       20
29       16
66       15
89        4
85        2
c6        1
Name: 0, dtype: int64

89    24098
45     4893
80     4562
ec     2715
a3     1956
      ...
f5        1
60        1
cc        1
ee        1
8d        1
Name: 1, Length: 134, dtype: int64

e5    24117
08     2050
0c     1827
d0      936
f0      746
      ...
d3       10
79        9
12        8
67        8
ad        7
Name: 2, Length: 256, dtype: int64

53    9711
83    7277
e8    4282
00    2600
8b    2134
      ...
70       1
f8       1
a1       1
b1       1
87       1
Name: 3, Length: 248, dtype: int64